<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEnrollmentService" sendTimeout="05:59:00" receiveTimeout="05:59:00" closeTimeout="05:59:00" openTimeout="05:59:00">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="Basic" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ua-svc.aepenergybilling.com/EnrollmentService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEnrollmentService"
                contract="AEPEnroll.IEnrollmentService" name="WSHttpBinding_IEnrollmentService" />
        </client>
    </system.serviceModel>
</configuration>